:root {
	box-sizing: border-box;
	--ff: "Rubik", sans-serif;
	--fs: 1rem;
	--fw-sm: 400;
	--fw-md: 500;
	--fw-lg: 700;

	--PaleViolet: hsl(276, 100%, 81%);
	--ModerateViolet: hsl(276, 55%, 52%);
	--DesaturatedDarkViolet: hsl(271, 15%, 43%);
	--GrayishBlue: hsl(206, 6%, 79%);
	--VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
	--DarkGrayishViolet: hsl(270, 7%, 64%);

	--LightMagenta: hsl(293, 100%, 63%);
	--LightViolet: hsl(264, 100%, 61%);
	--LightVioletOpac: rgba(136, 56, 255, 0.4);

	--White: hsl(0, 0%, 100%);
	--LightGrayishViolet: hsl(270, 20%, 96%);
	--VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
	--VeryLightMagenta: hsl(289, 100%, 72%);
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--ff);
	font-size: var(--fs);
}
.container {
	max-width: 90em;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin-inline: auto;
	background-color: var(--LightGrayishViolet);
	overflow: hidden;
}
.container::before {
	content: "";
	width: 58%;
	height: 58%;
	position: absolute;
	top: 0;
	left: -35%;
	transform: translateX(50%);
	background-color: var(--ModerateViolet);
	border-radius: 0 0 100em 0em;
	@media (min-width: 31.25em) {
		width: 60%;
		height: 60%;
		border-radius: 0 0 20em 20em;
	}
	@media (min-width: 56.25em) {
		width: 30%;
		height: 95%;
		left: -30px;
		background-image: radial-gradient(
			farthest-corner at 100% 0%,
			var(--LightMagenta),
			var(--LightViolet),
			var(--LightViolet)
		);
		transform: translateX(0);
	}
}
.container::after {
	@media (min-width: 56.25em) {
		content: "";
		width: 40%;
		height: 90%;
		position: absolute;
		bottom: 0;
		right: -12%;
		background-color: var(--GrayishBlue);
		border-radius: 350px 350px 0 0;
		z-index: 1;
		opacity: 0.15;
	}
}

main {
	margin-top: 5em;
	padding: 0 1em;
	position: relative;
	@media (min-width: 56.25em) {
		// 56.25em
		max-width: 40.625em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2em;
		padding: 0;
		margin-top: 2em;
	}
	@media (min-width: 75em) {
		max-width: 46.875em;
	}
}
a {
  text-decoration: none;
}
img {
	max-width: 100%;
}
button {
	background-color: transparent;
	border: none;
	color: var(--White);
	cursor: pointer;
}

.chat__app__illustration {
	max-width: 15.625em;
	margin-inline: auto;
	padding: 0.8em 0.6em;
	border-radius: 30px;
	background-color: var(--White);
	box-shadow: 0 5px 50px var(--LightVioletOpac);
	position: relative;
	@media (min-width: 56.25em) {
		width: 21.875em;
		position: relative;
		margin-inline: 0;
		padding: 0.8em 0.6em;
		border-radius: 30px;
		background-color: var(--White);
	}
}
.chat__app__illustration__inner {
	background-color: var(--LightGrayishViolet);
	border-radius: 20px;
	overflow: hidden;
}
header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.1em;
	background-image: linear-gradient(
		90deg,
		var(--LightViolet),
		var(--LightMagenta)
	);
	height: 1em;
	padding: 2.5em 0.5em 1.5em;
	color: var(--White);
	position: relative;
}
header::before {
	content: "";
	width: 55%;
	height: 1em;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--White);
	border-radius: 0 0 200px 200px;
}
.profile {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.3em;
	line-height: 0.8;
}
.profile__name {
	font-size: 0.7rem;
	font-weight: var(--fw-md);
}
.profile__status {
	font-size: 0.5rem;
	color: var(--PaleViolet);
}
.avatar {
	width: 1.8em;
	border-radius: 50%;
	border: 1px solid var(--White);
}
.btn {
	font-size: 1.2rem;
	padding: 0 0.3em 0 0.5em;

}
.v-ellipsis {
	margin-left: auto;
}
.chat__body {
	padding: 0.6em;
}
.chat {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.5em;
	position: relative;
}
.chat p {
	font-size: 0.5rem;
}
.chat__msg {
	max-width: 15.5em;
	width: fit-content;
	padding: 0.9em;
}
.chat__msg--incoming {
	color: var(--ModerateViolet);
	background-color: var(--GrayishBlue);
	border-radius: 10px 10px 10px 0;
}
.chat__msg--send {
	align-self: flex-end;
	color: var(--DesaturatedDarkViolet);
	background-color: var(--White);
	border-radius: 10px 10px 0 10px;
}
.chat__msg--send-flex {
	display: flex;
	align-items: center;
	gap: 0.5em;
	background-color: transparent;
}
.dogImage {
	width: 4.5em;
	border-radius: 8px;
}
.incoming--poll {
	max-width: 22em;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1em;
	color: var(--White);
	background-image: linear-gradient(
		90deg,
		var(--LightMagenta),
		var(--LightViolet)
	);
	padding: 1.1em 1.5em;
}
.radio__btn {
	width: 1.2em;
	height: 1.2em;
	border: 1px solid var(--VeryLightMagenta);
	border-radius: 50%;
}
.content {
	color: var(--PaleViolet);
	font-weight: var(--fw-md);
}
.amount {
	margin-left: auto;
	font-weight: var(--fw-md);
	font-size: 0.7rem;
}
form {
	width: 100%;
	margin-top: 1.2em;
	position: relative;
}
.form__control {
	width: 100%;
	font-size: 0.8rem;
	padding: .8em 1.2em;
	border-radius: 50px;
	border: none;
}
.form__control::placeholder {
	color: var(--GrayishBlue);
}
.btn--submit {
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	background-color: var(--VeryDarkDesaturatedViolet);
	border-radius: 50%;
	span {
		width: 1.2em;
		height: 1.2em;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		padding: 0.2em 0.6em 0.3em 0.65em;
	}
}
.description {
	position: relative;
	margin-top: 5em;
	text-align: center;
	@media (min-width: 900px) {
		margin-top: 0em;
		text-align: left;
	}
}
.title {
	color: var(--VeryDarkDesaturatedViolet);
	margin-bottom: 0.8em;
  font-size: 2.2rem;
  font-weight: var(--fw-md);
}
.description__text {
	line-height: 1.5;
	color: var(--DarkGrayishViolet);
	max-width: 350px;
	position: relative;
	z-index: 10;
	font-size: 0.8rem;
	@media (min-width: 1200px) {
		line-height: 1.5;
		color: var(--DarkGrayishViolet);
		max-width: 400px;
		position: relative;
		z-index: 10;
		font-size: 0.9rem;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin: 3.5em 0 1em;
	padding: 0 1em;
	line-height: 1.5;
	a {
    display: inline-block;
		color: hsl(228, 45%, 44%);
    span{
      display: inline-block;
    }
	}
}
